
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only access documents within their own user-specific collection
    match /users/{userId}/{document=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
