@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 150 67% 97%;
    --foreground: 158 38% 10%;
    --card: 0 0% 100%;
    --card-foreground: 158 38% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 158 38% 10%;
    --primary: 158 38% 40%;
    --primary-foreground: 150 67% 97%;
    --secondary: 150 20% 92%;
    --secondary-foreground: 158 38% 15%;
    --muted: 150 20% 92%;
    --muted-foreground: 158 20% 40%;
    --accent: 222 47% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 150 20% 88%;
    --input: 150 20% 90%;
    --ring: 158 38% 40%;
    --chart-1: 158 38% 40%;
    --chart-2: 222 47% 55%;
    --chart-3: 158 30% 55%;
    --chart-4: 222 30% 55%;
    --chart-5: 158 25% 75%;
    --radius: 0.5rem;

    --sidebar-background: 222 38% 12%;
    --sidebar-foreground: 222 20% 70%;
    --sidebar-primary: 150 67% 97%;
    --sidebar-primary-foreground: 222 38% 12%;
    --sidebar-accent: 222 38% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 222 38% 15%;
    --sidebar-ring: 222 38% 40%;
  }
  .dark {
    --background: 222 38% 8%;
    --foreground: 0 0% 98%;
    --card: 222 38% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 222 38% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 158 38% 65%;
    --primary-foreground: 158 38% 10%;
    --secondary: 222 38% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 38% 15%;
    --muted-foreground: 222 20% 60%;
    --accent: 222 47% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 38% 15%;
    --input: 222 38% 15%;
    --ring: 158 38% 65%;
    --chart-1: 158 38% 55%;
    --chart-2: 222 47% 45%;
    --chart-3: 158 30% 45%;
    --chart-4: 222 30% 45%;
    --chart-5: 158 25% 65%;
    
    --sidebar-background: 222 38% 8%;
    --sidebar-foreground: 222 20% 70%;
    --sidebar-primary: 150 67% 97%;
    --sidebar-primary-foreground: 222 38% 8%;
    --sidebar-accent: 222 38% 15%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 222 38% 12%;
    --sidebar-ring: 222 38% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
